{% extends 'base.html' %}
{% load static %}
{%block content%}


    <main class="dashboard">
                <div class="col-left">
                    <section class="leagues">
                        <h2>Ligler</h2>
                        <div class="card">
                            {% for lig in league %}
                                <div class="card__item league">
                                    <a href="{% url 'league_details' league_slug=lig.slug %}" target="_blanks">
                                        <img alt="" src="{{ lig.image.url}}" class="league__logo">
                                        <div class="league__title">
                                            <h3>{{ lig.name}}</h3>
                                            <small>{{ lig.nationality.name}}</small>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
                <div class="col-right">
                    <section class="hero">
                        <div class="hero__img">
                            <img alt="" src="https://www.footyrenders.com/render/kylian-mbappe-48.png">
                        </div>
                        <h2 class="hero__title">
                            Win $100 000 with Free Prediction
                        </h2>
                        <p class="hero__text">
                            Predict the first goal of two different teams in two selected matches and win up to $100 000.
                        </p>
                        <a class="hero__cta btn btn--secondary">More details</a>
                    </section>
                    <section class="matches">
                        <div class="card">
                            <div class="card__header matches__nav">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active">Maçlar </a>
                                    </li>
                                </ul>
                            </div>
                            {% for lea in league %}
                                <div class="card__body matches__data">
                                    <table>
                                        <div class="card-main-macthes">
                                            <span>{{lea.name}}</span>
                                        </div>
                                        <tbody>
                                        {% for match in lea.lig.all%}
                                            <tr>
                                                <td>
                                                    <span class="matches__time matches__time--live">{{ match.time}}</span>
                                                </td>
                                                <td>
                                                    <div class="score score--vertical">
                                                        <div class="score__team score__team--vertical">
                                                        <a href="{% url 'club_details' club_slug=match.club1.slug %}" target="_blank"><span>{{ match.club1 }}</span></a>
                                                            <img alt="" src="{{ match.club1.image.url}}">
                                                        </div>
                                                        <p class="score__result score__result--vertical">
                                                            <span class="score__goals"><a href="{% url 'match_details' match_slug=match.slug %}">{{ match.club1_skor}} : {{ match.club2_skor}}</a></span>
                                                        </p>
                                                        <div class="score__team score__team--vertical">
                                                            <img alt="" src="{{ match.club2.image.url}}">
                                                            <a href="{% url 'club_details' club_slug=match.club2.slug %}" target="_blank"><span>{{ match.club2}}</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span>{{ match.stadium}}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
            </main>

{%endblock%}

