{% extends 'base.html' %}
{% load static %}
{%block content%}

<main class="lig-section">
                <section class="hero-lig">
                    <img src="{{leagues.image.url}}" alt="Lig-logo">
                    <div class="lig-main">
                        <h1>{{leagues.name}}</h1>
                        <div class="lig-main-country">
                            {% for country in leagues.nationality.all%}
                            <img src="{{country.image.url}}" alt="">
                            <span>{{country.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </section>
        </main>
        <div class="card">
            <div class="card__body matches__data">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Puan Durumu</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Fikstür</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Tarihçe</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="card__body matches-fikstur matches__data">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Takım
                                        </th>
                                        <th>
                                            O
                                        </th>
                                        <th>
                                            G
                                        </th>
                                        <th>
                                            B
                                        </th>
                                        <th>
                                            M
                                        </th>
                                        <th>
                                            AG
                                        </th>
                                        <th>
                                            PUAN
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for rank, standing in standings %}
                                    <tr>
                                        <td>
                                            {{rank}}
                                        </td>
                                        <td>
                                            <img src="{{ standing.club.image.url}}" width='20px' alt="cen">
                                            <a href="{% url 'club_details' club_slug=standing.club.slug %}"><span>{{ standing.club.name }}</span></a>
                                        </td>
                                        <td>
                                            {{standing.om}}
                                        </td>
                                        <td>
                                            {{standing.win}}
                                        </td>
                                        <td>
                                            {{standing.draw}}
                                        </td>
                                        <td>
                                            {{standing.lost}}
                                        </td>
                                        <td>
                                            {{standing.goal}}
                                        </td>
                                        <td>
                                            {{standing.puan}}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade matches" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card__body matches__data">
                            <div class="card-main-macthes">
                            </div>
                            {% for fikstur  in match_leagues%}
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="matches__time matches__time--live">{{fikstur.time}}</span>
                                            </td>
                                            <td>
                                                <div class="score score--vertical">
                                                    <div class="score__team score__team--vertical">
                                                    <a href="{% url 'club_details' club_slug=fikstur.club1.slug %}" target="_blank"><span>{{fikstur.club1}}</span></a>
                                                        <img alt="" src="{{fikstur.club1.image.url}}">
                                                    </div>
                                                    <p class="score__result score__result--vertical">
                                                        <span class="score__goals">{{fikstur.club1_skor}} : {{fikstur.club2_skor}}</span>
                                                    </p>
                                                    <div class="score__team score__team--vertical">
                                                        <img alt="" src="{{ fikstur.club2.image.url }}">
                                                        <a href="{% url 'club_details' club_slug=fikstur.club2.slug %}" target="_blank"><span>{{fikstur.club2}}</span></a>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <span>{{fikstur.stadium}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="card-body">
                            <div class="card-title-bg" style="background-image: url({{leagues.nationality.image.url}});"></div>
                            <p class="card-text"> {{ leagues.history}}</p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
{%endblock%}

