{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="match-section">
            <div class="match-detail-main">
                <h5>{{matches.stadium}}</h5>
                <div class="match-detail-score-team">
                    <div class="team-left">
                        <div class="team-main">
                            <img src="{{matches.club1.image.url }}" width="50px" alt="">
                            <span>{{matches.club1}}</span>
                        </div>
                    </div>
                    <div class="team-score">
                        <span class="score-left">
                            {{ matches.club1_skor}}
                        </span>
                        <span>FT</span>
                        <span class="score-right">
                            {{ matches.club2_skor}}
                        </span>

                    </div>
                    <div class="team-right">
                        <div class="team-main">
                            <span>{{matches.club2}}</span>
                            <img src="{{matches.club2.image.url }}" width="50px" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="match-goals-details">
                <h3>Maç Detay</h3>
                <div class="team-name">
                    <span>{{matches.club1}}</span>
                    <span>{{matches.club2}}</span>
                </div>
                <div class="goals-team">
                    <div class="team-left">
                        <div class="goals-detail">
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                            <span><strong>15'</strong></span>
                        </div>
                        <div class="goals-detail">
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                            <span><strong>15'</strong></span>
                        </div>
                    </div>
                    <div class="team-right">
                        <div class="goals-detail">
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                            <span><strong>15'</strong></span>
                        </div>
                    </div>
                </div>
        </section>
        <section class="hero match-man">
            <div class="hero__img">
                <img alt="" src="https://www.footyrenders.com/render/kylian-mbappe-48.png">
            </div>
            <h2 class="hero__title">Maçın Adamı !
            </h2>
            <span class="hero__title">Kylian Mbappé
            </span>
        </section>
        <section class="line-up">
            <div class="match-goals-details">
                <h3>İlk 11</h3>
                <div class="team-name">
                    <span>{{matches.club1}}</span>
                    <span>{{matches.club2}}</span>
                </div>
                <div class="goals-team">
                    <div class="team-left">
                        {% for player in matches.club1_team_line_up.all %}
                            <div class="goals-detail">
                                <span><strong>{{player.pozition}} </strong></span>
                                <a href="player-detail.html"><span>{{player.name}} </span></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="team-right">
                        {% for player in matches.club2_team_line_up.all %}
                            <div class="goals-detail">
                                <span><strong>{{player.pozition}} </strong></span>
                                <a href="player-detail.html"><span>{{player.name}} </span></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="match-goals-details">
                <h3>Yedekler</h3>
                <div class="team-name">
                    <span>{{matches.club1}}</span>
                    <span>{{matches.club2}}</span>
                </div>
                <div class="goals-team">
                    <div class="team-left">
                        <div class="goals-detail">
                            <span><strong>GK </strong></span>
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                        </div>
                        <div class="goals-detail">
                            <span><strong>GK </strong></span>
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                        </div>
                    </div>
                    <div class="team-right">
                        <div class="goals-detail">
                            <span><strong>GK </strong></span>
                            <a href="player-detail.html"><span>C.Ronaldo </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="player-position">
            <div class="wrapper">
                <div class="campo">
                     <div class="semi1"></div>
                     <div class="semi2"></div>
                     <div class="divisoria"></div>
                     <div class="interior"></div>
                     <div class="penalty"></div>
                    {% for player in matches.club1_team_line_up.all %}
                         <div class="player-one">
                            <div class="gk">1</div>
                            <div class="player-detail">{{player.name}}</div>
                         </div>
                         <div class="player-two">
                            <div class="cb">2</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-three">
                            <div class="lb">3</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-four">
                            <div class="rb">4</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-five">
                            <div class="lwb">5</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-six">
                            <div class="n4">6</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-seven">
                            <div class="n3">7</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-eight">
                            <div class="rwb">8</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-nine">
                            <div class="lm">9</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-ten">
                            <div class="cm">10</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                         <div class="player-eleven">
                            <div class="rm">11</div>
                            <div class="player-detail">futbolcu</div>
                         </div>
                    {% endfor %}
                     <div class="player-twelve">
                        <div class="cf">1</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-thirteen">
                        <div class="wl">2</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-fourteen">
                        <div class="n1">3</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-fifteen">
                        <div class="n2">4</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-sixteen">
                        <div class="wr">5</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-seventeen">
                        <div class="amr">6</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-eighteen">
                        <div class="am">7</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-nineteen">
                        <div class="aml">8</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-twenty">
                        <div class="n6">9</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-twenty-one">
                        <div class="n5">10</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                     <div class="player-twenty-two">
                        <div class="n7">11</div>
                        <div class="player-detail">futbolcu</div>
                     </div>
                  </div>
                 </div>
        </section>

{% endblock %}
