{% extends 'base.html' %}
{% load static %}
{%block content%}
    <section class="hero-lig">
        <h1>Arama Sonuçları</h1>
    </section>

    <section>
        <div class="accordion-container">
            <div class="accordion-item">
                <button class="accordion-header">
                    Takımlar <span class="icon">+</span>
                </button>
                <div class="accordion-content">
                    <ul>
                        {% for club in clubs %}
                            <li class="accordion-content-item">
                                <h3><a href="{% url 'club_details' club_slug=club.slug %}">{{ club.name }}</a></h3>
                                <img width="150px"  height="100px" src="{{club.image.url}}" alt="">
                            </li>
                        {% empty %}
                                <h5>Sonuç bulunamadı</h5>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

     <section>
        <div class="accordion-container">
            <div class="accordion-item">
                <button class="accordion-header">
                    Takımlar <span class="icon">+</span>
                </button>
                <div class="accordion-content">
                    <ul>
                        {% for league in leagues %}
                            <li class="accordion-content-item">
                                <h3><a href="{% url 'league_details' league_slug=league.slug %}">{{ league.name }}</a></h3>
                                <img width="150px"  height="100px" src="{{league.image.url}}" alt="{{ league.name }}">
                            </li>
                        {% empty %}
                                <h5>Sonuç bulunamadı</h5>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

     <section>
        <div class="accordion-container">
            <div class="accordion-item">
                <button class="accordion-header">
                    Futbolcular <span class="icon">+</span>
                </button>
                <div class="accordion-content">
                    <ul>
                        {% for player in players %}
                            <li class="accordion-content-item">
                                <h3><a href="{% url 'player_details' player_slug=player.slug %}">{{ player.name }}</a></h3>
                                <img width="150px"  height="100px" src="{{player.image.url}}" alt="{{ player.name }}">
                            </li>
                        {% empty %}
                                <h5>Sonuç bulunamadı</h5>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

<script>
    document.querySelectorAll('.accordion-header').forEach(button => {
    button.addEventListener('click', () => {
        const accordionContent = button.nextElementSibling;

        button.classList.toggle('active');

        if (button.classList.contains('active')) {
            accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
        } else {
            accordionContent.style.maxHeight = 0;
        }

        // Close other open accordion items
        document.querySelectorAll('.accordion-header').forEach(otherButton => {
            if (otherButton !== button) {
                otherButton.classList.remove('active');
                otherButton.nextElementSibling.style.maxHeight = 0;
            }
        });
    });
});
</script>

{% endblock %}