{% extends 'base.html' %}
{% load static %}
{%block content%}

<div class="container">
  {% for oyuncu in oyuncular %}
    <div class="cardd">
      <div class="front" style="background-image: url('{{ oyuncu.image.url }}')">
        <div class="title">
          <h2>{{oyuncu.name }}</h2>
        </div>
      </div>
      <div class="back">
        <p>{{ oyuncu.name }}, {{oyuncu.club}} da oynayan profosyonel bir futbolcudur.{{oyuncu.foot}} ayağını kullanır, {{oyuncu.size}} boyundadır ve {{oyuncu.weight}} kilodur.</p>
      </div>
    </div>
  {% endfor %}
</div>

{%endblock%}
