@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
:root {
  font-size: calc(0.7em + 0.3vw);
}

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    color: #132536 !important;

}

body {
  font-family: "Roboto", sans-serif;
  color: #132536;
}

.layout {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}

.nav__top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding: 1rem 0;
}
.nav__top__item {
  padding: 0 1rem;
  font-size: 1.15rem;
}
.nav__top__item.main-navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav__top__item:not(:first-child) {
  border-left: 1px solid #efefef;
}
.nav__left {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #efefef;
  padding: 0 1rem;
  overflow: hidden;
}
.nav__left__item {
  padding: 1rem 0;
}
.nav__left__item:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
.nav__left__toggle button {
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  font-weight: normal;
}
.nav__left__toggle button svg {
  width: 27px;
  transition: transform 0.3s;
}
.nav__left .btn--add {
  margin: 2rem auto;
}
.nav__left.opened .nav__left__toggle button svg {
  transform: rotate(180deg);
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav .nav-link {
  padding: 0.75rem 1rem;
  color: #8b939a;
  display: inline-block;
  transition: color 0.3s;
  text-decoration: none;
}
.nav .nav-link.active {
  color: #613cea !important;
  font-weight: 500;
}
.nav .nav-link:hover {
  color: rgba(97, 60, 234, 0.7);
}
.nav--vertical {
  flex-direction: column;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right .search {
    position: relative;
}
.nav-right input {
    padding-block:5px ;
    padding-left: 25px;
    border: 1px solid #d6d6d6;
    border-radius: 7px;
}
.nav-right .fa-magnifying-glass {
    position: absolute;
    left: 6px;
    top: 10px;
}
.main-navigation .nav-link {
  font-weight: 500;
}
.main-navigation .active {
  position: relative;
  color: inherit;
  font-weight: bold;
}
.main-navigation .active:before {
  content: "";
  display: inline-block;
  width: 50%;
  border-top: 4px solid #613cea;
  border-radius: 2px;
  position: absolute;
  top: -1.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.notifications {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  fill: #a3a9b0;
}

.user {
  display: flex;
}
.user__profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.user__profile-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.user__info {
  margin: 0.2rem 0 0 0.75rem;
}
.user__name {
  font-size: 0.875rem;
  margin: 0 0 0.2em;
  font-weight: 500;
  color: #626972;
}
.user__balance {
  display: flex;
  align-items: baseline;
}
.user__balance__dollars {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0 0.5rem 0 0;
}
.user__balance__currency {
  font-size: 0.875rem;
  color: #a3a9b0;
  margin: 0;
}

.secondary-navigation {
  transition: 0.3s;
  width: 3.8125rem;
}
.secondary-navigation .nav {
  align-items: flex-start;
}
.secondary-navigation .nav-link {
  display: flex;
  align-items: center;
  color: #d2d5d8;
  text-decoration: none;
  white-space: nowrap;
}
.secondary-navigation .nav-link svg {
  width: 27px;
}
.secondary-navigation .nav-link span {
  padding-left: 3rem;
  transition: padding-left 0.3s;
}
.secondary-navigation .active {
  position: relative;
  color: #613cea;
}
.secondary-navigation .active::before {
  content: "";
  display: block;
  height: 120%;
  border-right: 3px solid #613cea;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.secondary-navigation.opened {
  width: 200px;
}
.secondary-navigation.opened .nav-link span {
  padding-left: 1rem;
}

.dashboard {
  display: grid;
  grid-area: main;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  grid-template-areas: "col-left col-right";
  padding: 2rem;
}
.dashboard h2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}
.dashboard h2 .btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1;
  color: #a3a9b0;
}

.card {
  border: 1px solid #efefef;
  border-radius: 10px;
}
.card > * {
  padding: 2rem;
}
.card__header {
  border-bottom: 1px solid #efefef;
}
.card__footer {
  border-top: 1px solid #efefef;
}
.card__footer--link {
  padding: 0;
}
.card__footer--link a {
  display: block;
  padding: 1.5rem 1.75rem;
  text-align: center;
  color: #a3a9b0;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}
.card__footer--link a:hover {
  color: #613cea;
  text-decoration: underline;
  font-weight: 600;
}
.card__item {
    padding: 10px 30px;
}
.card__item:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  line-height: 1.5;
  border: 0;
  background-color: #efefef;
  border-radius: 7px;
  font-weight: 500;
  color: #a3a9b0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover:not(.btn--primary):not(.btn--secondary) {
  background-color: #d6d6d6;
  color: #888f98;
}
.btn--primary {
  background-color: #613cea;
  color: white;
}
.btn--secondary {
  background-color: white;
  color: #613cea;
}
.btn--primary, .btn--secondary {
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn--primary:hover, .btn--secondary:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 6px rgba(65, 24, 219, 0.16);
}
.btn--icon {
  padding: 0.6rem 0.8rem;
}
.btn--icon svg {
  width: 20px;
  height: 25px;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}
.btn--toggle {
  border: 1px solid #e2e2e2;
  padding: 0.5rem 0.65rem;
}
.btn--round, .btn--round-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
  padding: 0;
  background-color: #a3a9b0;
  color: white;
}
.btn--round svg, .btn--round-lg svg {
  width: 50%;
  height: 90%;
}
.btn--round-lg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.btn--add {
  background-color: #613cea;
}
.btn--no-bg {
  background-color: rgba(0, 0, 0, 0);
}

.featured-live__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-live__stage {
  margin-right: 1.5rem;
}
.featured-live__stage h3 {
  font-size: 1rem;
  margin: 0 0 0.15rem;
}
.featured-live__stage small {
  color: #8b939a;
}
.featured-live__score {
  margin: 1rem 0 0.5rem;
}
.featured-live__actions {
  display: flex;
  justify-content: space-between;
}
.featured-live__actions > *:not(:last-child) {
  margin-right: 0.5rem;
}
.featured-live__actions > *:not(:first-child) {
  flex: 1;
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  color: #a3a9b0;
}
.tag--red {
  color: #e1223c;
  background-color: rgba(225, 34, 60, 0.2);
}
.tag--green {
  color: #52b49c;
  background-color: rgba(82, 180, 156, 0.2);
}
.tag--icon svg {
  fill: currentColor;
  margin-right: 0.3rem;
}

.rating {
  border: 1px solid rgba(163, 169, 176, 0.1);
  padding: 0.5em 0.8em;
  vertical-align: middle;
  position: relative;
}
.rating--primary {
  color: white;
  background-color: #613cea;
}
.rating--up {
  border-color: rgba(82, 180, 156, 0.1);
}
.rating--up:before {
  border-bottom: 6px solid;
  top: -0.375rem;
  transform: translate(-50%, -100%);
}
.rating--down {
  border-color: rgba(225, 34, 60, 0.1);
}
.rating--down:before {
  border-top: 6px solid;
  bottom: -0.375rem;
  transform: translate(-50%, 100%);
}
.rating--up:before, .rating--down:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  left: 50%;
}
.rating:not([class*="--"]) {
  background-color: rgba(163, 169, 176, 0.1);
}

.close {
  color: inherit;
  display: contents;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.score--vertical {
  justify-content: flex-start;
}

.score--vertical:hover a{
    text-decoration: underline !important;
}
.score__team {
  text-align: center;
}
.score__team span {
  display: block;
  font-weight: 500;
  padding-top: 0.25rem;
}
.score__team img {
  width: 40px;
}
.score__team--vertical {
  display: flex;
  align-items: center;
  flex: 1;
}
.score__team--vertical:first-child {
  justify-content: flex-end;
}
.score__team--vertical span {
  white-space: nowrap;
  font-size: inherit;
}
.score__team--vertical img {
  width: 32px;
  margin: 0 0.5rem;
}
.score__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}
.score__info p {
  margin: 0;
}
.score__result {
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 1.75rem;
  margin: 0;
  letter-spacing: 0.4em;
}
.score__result--not-started {
  color: #a3a9b0;
}
.score__result--vertical {
  letter-spacing: 0.2em;
  font-size: inherit;
  flex: 0 0 auto;
  width: auto;
}
.score__time {
  padding-top: 0.5rem;
  color: #a3a9b0;
}
.score__separator {
  color: #a3a9b0;
}
.score__loser {
  color: #a3a9b0;
}

.league a {
  display: flex;
  align-items: center;
}
.league__logo {
  width: 35px;
  height: auto;
  align-self: flex-start;
  margin-right: 0.75rem;
}
.league__title h3 {
  margin: 0 0 0.25rem;
  font-size: 1rem;
}
.league__title small {
  color: #a3a9b0;
}
.league__number {
  margin-left: auto;
  color: #cfd2d5;
  font-size: 1.15rem;
}
.hero {
  background-color: #613cea;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
}
.hero-lig {
    padding: 2rem;
    border-radius: 10px;
    background-color: #613cea;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.hero-lig img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
}
.hero__title {
  color: white;
  margin: 0 0 0.25rem !important;
  font-weight: 400;
}
.hero__text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  line-height: 1.7;
  margin-top: 0;
  max-width: 58%;
}
.hero__cta {
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.hero__img {
  width: 40%;
  max-width: 350px;
  position: absolute;
  overflow: hidden;
  height: calc(110%);
  top: -10%;
  right: 2rem;
}
.hero__img img {
  width: 100%;
  height: auto;
}
.lig-main-country img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.lig-main-country {
    display: flex;
    align-items: center;
    gap: 10px;
}
.lig-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
}
.lig-main h1 {
    font-size: 36px;
}
.matches .nav-item:first-child .nav-link {
  padding-left: 0;
}
.matches .nav-item .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
.matches__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.matches__agenda {
  color: #a3a9b0;
  padding: 0;
}
.matches__data {
  padding: 0;
}
.matches__time {
  color: #6d7680;
  margin-right: 0.5rem;
}
.matches__time--live {
  margin-right: 1rem;
}
.matches__stats {
  padding: 0.4rem 0.5rem;
}
.matches__stats svg {
  width: 15px;
  height: 15px;
}
.matches table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.825rem;
  text-align: center;
  font-weight: 500;
}
.matches__data *-.matches table:hover {
    background-color: #e6e6e6;
}
.matches .card-main-macthes {
    background-color: rgba(139, 147, 154, 0.05);
    padding: 10px;
    color: #767373;
}
.matches tbody tr:last-child {
  border: 0;
}
.matches th {
  font-weight: 500;
}
.matches tr {
  border-bottom: 1px solid #efefef;
}
.matches td,
.matches th {
  padding: 1rem 0.25rem;
}
.matches-fikstur th {
  font-weight: 500;
}
.matches-fikstur tr {
  border-bottom: 1px solid #efefef;
}
.matches-fikstur td,
.matches-fikstur th {
  padding: 1rem 1rem;
}
.matches td:first-child,
.matches th:first-child {
  padding-left: 2rem;
  text-align: left;
  white-space: nowrap;
}

.matches-fikstur td, .matches-fikstur th {
  width: 10px ;
}
.matches-fikstur td:first-child,
.matches-fikstur th:first-child {
  padding-left: 2rem;
  text-align: left;
  white-space: nowrap;
}
.matches td:nth-child(2),
.matches th:nth-child(2) {
  width: 100%;
}
.matches-fikstur td:nth-last-child(2){
  text-align: center;
}
.matches-fikstur td:nth-child(2),
.matches-fikstur th:nth-child(2) {
  width: 100%;
}
.matches td:last-child,
.matches th:last-child {
  padding-right: 2rem;
}
.tab-pane .card-body {
  text-align: center;
}
.tab-pane .card-body h5{
    font-size: 28px;
    margin-bottom: 30px;
    padding-block: 40px;
}
.tab-pane .card-body p {
  font-size: 16px;
  color: #202122;
}
.tab-pane .card-title-bg {
  height: auto;
  border-radius: 6px;
  color: white;
  background-image: url(../img/101407\,bayrak.png);
  background-position: center;
  background-size: cover;
  padding-block: 100px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.match-section{
  position: relative;
  margin-bottom: 40px;
}

.match-detail-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-detail-main h5 {
  margin-block: 30px;
  font-size: 16px;
}
.match-detail-score-team {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 50%;
}
.match-detail-main .team-main {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding-inline: 10px;
  height: 50px;
}
.match-detail-main .team-left {
  display: flex;
  flex-direction: column;
}
.match-detail-main .team-main span {
  font-size: 22px;
  font-weight: 500;
}
.match-detail-main .player-goals span {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.match-detail-main .team-right {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.match-detail-score-team .team-score {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  align-items: center;
  height: 30px;
}
.match-detail-score-team .score-left,
.match-detail-score-team .score-right  {
  color: var(--Black, #100F0F);
  font-size: 24px;
  font-weight: 500;
}
.match-man h2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 120px ;
}
.match-man span {
  font-family: 'Six Caps', sans-serif;
  color: #F5C451;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 96%;
  text-transform: uppercase;
}

.match-goals-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.match-goals-details h3 {
  background-color: #613cea;
  color: white;
  padding-block: 5px;
  margin-bottom: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.goals-team {
  display: flex;
}
.match-goals-details .team-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;
}
.match-goals-details .team-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;

}
.match-goals-details .team-name {
  display: flex;
  justify-content: space-around;
  padding-block: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d6d8da;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color:rgb(60, 59, 59);
}
.match-goals-details .goals-detail {
  margin-bottom: 10px;
}
.line-up {
  display: flex;
  gap: 10px;
}
.wrapper {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-block: 50px;
  margin-inline: auto;
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
}

.campo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0;
  margin: 10px auto;
  padding: 0 0 60% 0;
}

.interior, .divisoria,
.semi1, .semi2,
.corner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid #323642;
}

.divisoria:after, .divisoria:before {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 0;
  height: 100%;
  margin-left: .5px;
  border: 0.5px solid #323642;
}
.divisoria:before {
  top: 50%;
  width: 17%;
  height: 0;
  margin: -8% 0 0 -8%;
  margin-top: calc(-8% - 4px);
  margin-left: calc(-8% - .5px);
  padding-bottom: 17%;
  border-radius: 50%;
  border: 1px solid #323642;
}

.campo:before, .campo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -8% 0 0 -1px;
  display: block;
  width: 8%;
  height: 30%;
  border: 1px solid #323642;
  z-index: 2;
}

.campo:after {
  left: auto;
  right: -2px;
}

.interior:before, .interior:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -16% 0 0 -1px;
  display: block;
  width: 16%;
  height: 55%;
  border: 1px solid #323642;
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
}



.interior:after {
  left: auto;
  right: 0;
  margin: -16% -1px 0 0;
}

.semi2:before {
  left: auto;
  right: 12%;
}

.semi1:after, .semi2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 16%;
  height: 0;
  margin: -8% 0 0 0;
  padding-bottom: 16%;
  border: 1px solid #323642;
  border-radius: 50%;
}
.semi2:after {
  left: auto;
  right: 5%;
}

.gk{
  content: "";
  position: absolute;
  top: 48%;
  left: 2%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.lb {
  content: "";
  position: absolute;
  top: 29%;
  left: 16%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.cb{
  content: "";
  position: absolute;
  top: 11%;
    left: 18%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.rb {
  content: "";
  position: absolute;
  top: 67%;
  left: 16%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.lwb{
  content: "";
  position: absolute;
  top: 85%;
  left: 17%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.dm {
  content: "";
  position: absolute;
  top: 48%;
  left: 26%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.rwb {
  content: "";
  position: absolute;
  top: 75%;
  right: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.lm {
  content: "";
  position: absolute;
  top: 20%;
  left: 40%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.cm {
  content: "";
  position: absolute;
  top: 48%;
  left: 40%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.rm {
  content: "";
  position: absolute;
  top: 75%;
  left: 40%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.amr {
  content: "";
  position: absolute;
  top: 20%;
  left: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.am {
  content: "";
  position: absolute;
  top: 48%;
  left: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}


.aml {
  content: "";
  position: absolute;
  top: 75%;
  left: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  text-align: center;
}

.wl {
  content: "";
  position: absolute;
  top: 10%;
  left: 79%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}

.cf {
  content: "";
  position: absolute;
  top: 48%;
  left: 95%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}



.wr {
  content: "";
  position: absolute;
  top: 85%;
  left: 79%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}

.st{
  content: "";
  position: absolute;
  top: 48%;
  left: 95%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.n1 {
  content: "";
  position: absolute;
  top: 28%;
  left: 81%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}


.n2 {
  content: "";
  position: absolute;
  top: 67%;
  left: 81%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.n3 {
  content: "";
  position: absolute;
  top: 48%;
  right: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}


.n4 {
  content: "";
  position: absolute;
  top: 21%;
  right: 69%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.n5 {
  content: "";
  position: absolute;
  top: 48%;
  left: 58%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.n6 {
  content: "";
  position: absolute;
  top: 21%;
  left: 58%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.n7 {
  content: "";
  position: absolute;
  top: 75%;
  left: 58%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #613cea;
  border: 1px solid #324978;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-align: center;
}
.player-one .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  left: 0%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-two .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 17%;
  left: 16%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-three .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 35%;
  left: 14%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-four .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 73%;
  left: 14%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-five .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 91%;
  left: 15%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-six .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 27%;
  right: 64%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-seven .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  right: 64%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-eight .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 81%;
  left: 26%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-nine .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 26%;
  left: 38%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-ten .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  left: 39%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-eleven .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 81%;
  left: 38%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-twelve .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  left: 93%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-thirteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 16%;
  left: 77%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-fourteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 34%;
  left: 79%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-fifteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 73%;
  left: 79%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-sixteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 91%;
  left: 77%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-seventeen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 26%;
  left: 67%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-eighteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  left: 67%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-nineteen .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 81%;
  left: 67%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-twenty .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 27%;
  left: 56%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-twenty-one .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 54%;
  left: 56%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-twenty-two .player-detail {
  content: "";
  position: absolute;
  color: white;
  top: 81%;
  left: 56%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.player-position .player-detail {
  width: 92px;
}

#pills-kadro table {
  width: 100%;
  text-align: center;
}
#pills-kadro .matches-fikstur td:nth-child(2), .matches-fikstur th:nth-child(2) {
  width: 50%;
}
#pills-kupa td, #pills-kupa th {
  width: 50%;
}
#pills-kupa .matches-fikstur td:nth-last-child(2) {
  text-align: start;
}
#pills-kupa table {
  width: 100%;
}
#pills-transfer h4 {
  margin-left: 15px;
}
#pills-transfer .matches-fikstur td:nth-child(4),
#pills-transfer .matches-fikstur th:nth-child(4) {
  width: 25% !important;
}
#pills-transfer .matches-fikstur td:first-child,
#pills-transfer .matches-fikstur th:first-child {
  width: 40%;
}
#pills-transfer table {
  width: 100%;
}
#pills-transfer .matches-fikstur td:nth-child(2), #pills-transfer .matches-fikstur th:nth-child(2) {
  width: 10px;
}
#pills-transfer .matches-fikstur td:nth-last-child(1), #pills-transfer .matches-fikstur th:nth-last-child(1) {
  width: 150px !important;
}
.matches #player-main td, .matches #player-main th {
    width: 10%;
}
.matches .player-main {
  margin-bottom: 50px;
}
.matches #player-main td:last-child, .matches #player-main th:last-child {
  padding-right: 0rem;
}
#player-main span {
  margin-left: 20px;
}

.matches .hakem-table td:first-child, .matches .hakem-table th:first-child {
  text-align: center;
}
.matches .hakem-detail td, .matches .hakem-detail th {
  width: 10%;
}
.matches .hakem-detail td:first-child, .matches .hakem-detail th:first-child {
  text-align: center;
}
.hakem-detail {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  margin-top:20px;
}
.hakem-detail thead {
  background-color: rgba(139, 147, 154, 0.05);
}
.hakem-detail td:last-child, .hakem-detail th:last-child {
  padding-right: 7rem;
}