{% extends 'base.html' %}
{% load static%}
{% block content %}

  <section class="hero-lig">
        <h1>Haberler</h1>
  </section>

  <div class="band">
    {% for haber in news %}
     <div>
        <a href="{% url 'news_detail' news_slug=haber.slug %}" class="cardcik">
          <div class="thumb" style="background-image: url('{{ haber.image.url }}');"></div>
          <article>
            <h1>{{haber.title}}</h1>
            <span>{{haber.author}}&hellip;</span>
          </article>
        </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
