{% extends 'base.html' %}
{% load static%}
{% block content %}


<div class="section-news-detail">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="news-block">
          <h1 style="margin-block: 0.5em;">
            {{news.title}}
          </h1>

          <div class="img-block">
              <span class="post-created">{{news.created_on}} </span>
              <img style="width: 100%; border-radius: 10px; object-fit: contain;" src="{{ news.image.url }}">
              <h6 class="post-created">{{news.author}}</h6>
          </div>

          <p class="title-news">{{news.contents}} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium nisi vitae veritatis in aspernatur rem enim? Blanditiis optio quo non magnam, consectetur distinctio fugit at placeat sunt quae. Qui, voluptates.</p>

        </div>
        <div class="clear">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

{% endblock %}