{% extends 'base.html' %}
{% load static %}
{%block content%}

<main class="lig-section">
    <section class="hero-lig">
        <div class="lig-main">
            <h1>{{user.username}}</h1>
        </div>
    </section>
</main>

<style>
    :root {
  --size: 100px;
  --frames: 62;
}

.like {
  display: block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border-radius: 999px;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.hearth {
  background-image: url("https://assets.codepen.io/23500/Hashflag-AppleEvent.svg");
  background-size: calc(var(--size) * var(--frames)) var(--size);
  background-repeat: no-repeat;
  background-position-x: calc(var(--size) * (var(--frames) * -1 + 2));
  background-position-y: calc(var(--size) * 0.02);
  width: var(--size);
  height: var(--size);
}

#kalp:checked + .hearth {
  animation: like 1s steps(calc(var(--frames) - 3));
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: calc(var(--size) * (var(--frames) * -1 + 3));
  }
}
@media (hover: hover) {
  .like:hover {
    background-color: #e1255e15;
  }
  .like:hover .hearth {
    background-position-x: calc(var(--size) * (var(--frames) * -1 + 1));
  }
}
</style>

<section class="matches">
    <div class=" hakem-detail">
        <table>
            <thead>
                <tr>
                    <th>
                        Kulüp
                    </th>
                    <th>
                        Fav
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        sss
                    </td>
                    <td>
                       <label class="like">
                          <input type="checkbox" id="kalp" style="display: none;"/>
                          <div class="hearth"></div>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>


.container {
	max-width:400px;
	width:100%;
	margin-left: 0;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

    </style>

    <div class="container">
  <form action="" method="post">
      {% csrf_token %}
    <h3>Kullanıcı Bilgileri</h3>
    <fieldset>
        {{form.username}}
    </fieldset>
    <fieldset>
      {{form.email}}
    </fieldset>
    <fieldset>
      {{ password_form }}
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Güncelle</button>
    </fieldset>
  </form>


</div>
</section>


{% endblock %}